
<link rel="stylesheet" href="https://neverenoughpickleball.com/gsm/content/gsmservice/css/gsmservice.css">
<style>
    @@font-face {
        font-family: 'NameFont';
        src: url('/fonts/Gilroy-Black.ttf') format('truetype');
        /* Additional properties if needed */
        font-weight: normal;
        font-style: normal;
    }
    @@font-face {
        font-family: 'CEOFont';
        src: url('/fonts/Gobold Regular.otf') format('opentype');
        /* Additional properties if needed */
        font-weight: normal;
        font-style: normal;
    }
    @@font-face {
        font-family: 'LinksFont';
        src: url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
        /* Additional properties if needed */
        font-weight: normal;
        font-style: normal;
    }
   .nep-container {
        display: flex;
    }

    .nep-box {
        flex: 1;
        border: none
    }
</style>
<div class="nep-container" style="width:1000px;height:300px;background-image:url('/gsm/content/gsmservice/images/NEP_SignatureBG.png');background-size:contain">
    <div class="nep-box" style="width:100px !important;flex:.4;flex-basis:100px;vertical-align: middle;background-image:url('/gsm/content/gsmservice/images/NEP_SignatureQR.png');background-position:left center;background-repeat: no-repeat;">
        
    </div>    
    <div class="nep-box" style="width:600px">
        <div class="nep-container">
            <div class="nep-box" style="flex:.5"><img src="/gsm/content/gsmservice/images/NEP-Signature-ClayPic.png" style="margin-top:15px;margin-left:0px"></div>
            <div class="nep-box" style="text-align: center;margin-top:60px;"><span style="font-family:NameFont;font-size:27px;line-height: 29px;color:#2a2a2a;margin-bottom:0px;font-weight:bold">CLAYTON STONE</span><br><span style="font-family:CEOFont;color:#ff6801;">Founder & CEO</span></div>            
        </div>
        <div class="nep-container" style="height:145px">
            <div class="nep-box">
                <div class="nep-container">
                    <div class="nep-box" style="flex:.1;text-align:center"><img src="/gsm/content/gsmservice/images/NEP-Signature-Email.png"></div>
                    <div class="nep-box" style="color:#ff6801;font-family:LinksFont;font-size:22px"><a target="_top" href="mailto:contact@NeverEnoughPickleball.com" style="text-decoration: none;">contact@neverenoughpickleball.com</a></div>
                </div>
                <div class="nep-container">
                    <div class="nep-box" style="flex:.1;text-align:center"><img src="/gsm/content/gsmservice/images/NEP-Signature-Phone.png"></div>
                    <div class="nep-box" style="color:#ff6801;font-family:LinksFont;font-size:22px">407-574-7411</div>
                </div>
                <div class="nep-container">
                    <div class="nep-box" style="flex:.1;text-align:center"><img src="/gsm/content/gsmservice/images/NEP-Signature-PinDrop.png"></div>
                    <div class="nep-box" style="color:#ff6801;font-family:LinksFont;font-size:22px">Winter Park, Florida</div>
                </div>
                <div class="nep-container">                    
                    <div class="nep-box" style="text-align:center"><a target="_top" href="https://NeverEnoughPickleball.com" style="text-decoration: none;"><span style="font-family:NameFont;font-size:27px;line-height: 27px;color:#ff6801;margin-bottom:0px;font-weight:bold;text-decoration: none;">neverenoughpickleball.com</span></a></div>
                </div>
            </div>                
        </div>
    </div>
    <div class="nep-box" style="width:300px;flex:.8">
        <div class="nep-container" style="height:100%">
            <div class="nep-box"></div>
            <div class="nep-box" style="text-align: center;margin-top:75%"><a target="_top" href="https://twitter.com/NEP_Charity"><img src="/gsm/content/gsmservice/images/NEP-Signature-Twitter.png" style="border:none"></a></div>
            <div class="nep-box" style="text-align: center;margin-top:75%"><img src="/gsm/content/gsmservice/images/NEP-Signature-YouTube.png" style="border:none"></div>
            <div class="nep-box" style="text-align: center;margin-top:75%"><a target="_top" href="https://www.facebook.com/NeverEnoughPickleball"><img src="/gsm/content/gsmservice/images/NEP-Signature-Facebook.png" style="border:none"></a></div>
            <div class="nep-box" style="text-align: center;margin-top:75%"><img src="/gsm/content/gsmservice/images/NEP-Signature-Instagram.png" style="border:none"></div>
            <div class="nep-box" style="text-align: center;margin-top:75%"><img src="/gsm/content/gsmservice/images/NEP-Signature-LinkedIn.png" style="border:none"></div>
        </div>
    </div>
</div>