@model CourtColors
@{
    Layout = "~/Views/Shared/_blankLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourtTester</title>
</head>
<body>
    @Html.Partial("_CourtSVG",Model)
</body>
</html>
