
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Public.cshtml";
}

<h1>Facility Admin</h1>
<a href="/Facilities/Create">Create a new Facility</a><br />
Add a Court to a Facility<br />
<select></select>
<button></button>
<br />




