
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Never Enough Pickleball - NEP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/NEP.styles.css" asp-append-version="true" />

    @*<link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap responsive -->
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Font awesome - iconic font with IE7 support -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="css/font-awesome-ie7.css" rel="stylesheet">
    <!-- Bootbusiness theme -->
    <link href="/css/boot-business.css" rel="stylesheet">*@
    @*<script>
    var obscura_h1 = '';
    </script>*@
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">

            <!-- Start: MAIN CONTENT -->
            <div class="content" style="text-align:center">
                <div class="hero-unit" style="max-width:1920px">
                    <img src="~/images/hero/slider2.jpg" style="width:100%" />
                    @*<a href="Contact/" class="tech-square" data-id="0" alt="Get your estimate!" title="Get your estimate!">
                    <img src="/Images/Hero-1_Btn.png" id="cat-thumb-0" alt="Get your estimate!" title="Get your estimate!" />
                    <img src="/Images/Hero-1_BtnHover.png" id="cat-thumb-hover-0" style="display:none" alt="Get your estimate!" title="Get your estimate!" />
                    </a>
                    <br />
                    <img src="/Images/Below Hero.jpg" />*@
                </div>
                <!-- Start: slider -->
                <!-- End: slider -->
                <!-- Category List -->
                <!--
                    GrayBG #F1F1F2
                    Orange #F15425
                    Light Blue #17C5CC
                -->
                <!-- Start: MAIN CONTENT -->
                <div class="content">
                    <!-- Start: SERVICE LIST -->
                    <div class="container">
                        @*<div class="page-header">
                        <h2>Our Services</h2>
                        </div>*@


                        <div class="row-fluid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-1">
                                    </div>
                                    <div class="col-10">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-8" style="text-align:left">
                                                    <img src="~/images/home-welcome_img.png" class="section-image" />
                                                    <br />
                                                    @*<div class="row">
                                                    <div class="col-8">*@
                                                    <p class="left-edge">&nbsp;&nbsp;&nbsp;&nbsp;We, at <b>Never Enough Pickleball</b>, are very delighted and proud to announce our introduction as a newly created 501(c)(3) Florida Nonprofit Corporation as of June 2023.  After two years of research and a lifetime passion for mixing sports and community involvement, we could not escape the juggernaut of a sport that we, collectively, knew little about three years ago.  As athletes, the founders understand that one sport can lead to another.  Involved in organized and/or recreational sports and activities such as, but not limited to, baseball, softball, football, basketball, soccer, lacrosse, golf, surfing, skiing, track and field, archery, tennis, racquetball, bowling, skateboarding - there is no discrimination in competition when we feel the need to push ourselves outside of our comfort zone.  Immediately, the thoughts on benefits show in a physical health form.  But competitive nature doesn’t come without a level of confidence, which cyclically comes from competition.  And this confidence doesn’t restrict itself to athletics. It carries on into other facets of life.  It shows up in our academia, our careers, our ambitions.</p>
                                                    <p class="left-edge">&nbsp;&nbsp;&nbsp;&nbsp;It is with these inherent qualities of sports that we have chosen Pickleball as our vehicle to provide opportunities for engagement, development, life-lessons, and inner/outer growth from adolescence to senior life.  We are never too old to feel young and ambitious in our minds.</p>


                                                    @*   </div>
                                                    </div>*@
                                                </div>
                                                <div class="col-4" rowspan="2">
                                                    <img src="~/images/home-notice_img.png" style="width:90%;margin-top:10px" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <img src="~/images/home-positions_img.png" style="width:100%" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <a href="#" class="tech-square" onhover="toggleThumbnail(100);" data-id="100">
                                                        <img src="~/images/buttons/slider_learnmore_static_btn.png" id="cat-thumb-100" />
                                                        <img src="~/images/buttons/slider_learnmore_hover_btn.png" id="cat-thumb-hover-100" style="display:none" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-10" style="text-align:left;">
                                                    <img src="~/images/home-whatwedo_img.png" class="section-image" />
                                                    <p class="header2">Filling the Void</p>

                                                </div>
                                                <div class="col-2">
                                                </div>
                                            </div>
                                            <div class="row" style="background-color:#f8f8f8">
                                                <div class="col-10">
                                                    <p class="left-edge">&nbsp;&nbsp;&nbsp;&nbsp;Simply put, we expand on what is already happening; and we use it to our advantage!  If there is a program, we assist it.  If there is no program, we make one.  If there are no courts, we build them.  If there are bad courts, we resurface them.  If there are not enough courts, we build more.  If there are children in need of equipment and can’t afford it, we supply them.  It’s all things pickleball, for all the reasons that have absolutely nothing to do with...well...pickleball.</p>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-10" style="text-align:left;">
                                                    <img src="~/images/Home-WhyPickleball_IMG.png" class="section-image" />
                                                    <p class="header2">Reading the Tea Leaves</p>

                                                </div>
                                                <div class="col-2">
                                                </div>
                                            </div>
                                            <div class="row" style="background-color:#f8f8f8">
                                                <div class="col-10">
                                                    <p class="left-edge">&nbsp;&nbsp;&nbsp;&nbsp;There is no denying the upward tick in growth & expansion when it comes to the sport of Pickleball!  There are many debatable reasons as to why it has become the fastest growing sport in the world, but we’d like to focus on a few key points.</p>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1"></div>
                                                <div class="col-5">
                                                    <p class="header3">ENTRANCE</p>
                                                    <p class="centered">From a pickleball player’s perspective, the entrance cost is amongst the lowest in all of sports.  Shoes and a Paddle!  We’d love to make this a more detailed description for design and persuasive speech reasons...but that’s it!</p>
                                                    <img src="~/images/home-$$$$$_img.png" />
                                                </div>
                                                <div class="col-5">
                                                    <p class="header3">FIELD OF PLAY</p>
                                                    <p class="centered">Building pickleball courts sounds like an expensive endeavor, but amongst other sports, yet again, it carries one of the lowest costs of any sport per square foot/per player/per length of game.  When you factor in maintenance and upkeep over long periods of time it’s difficult to find another sport that can offer so much, for so little, for so many. </p>
                                                    <img src="~/images/home-$$$$$_img.png" />
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1"></div>
                                                <div class="col-5">
                                                    <p class="header3">EASE OF PLAY</p>
                                                    <p class="centered">If you can swat at a fly, you can swat at a ball!  Of course it takes a little more than that, but initial results come quickly; and the faster the results come, the more quickly the confidence follows.</p>
                                                    <img src="~/images/home-stars_img.png" />
                                                </div>
                                                <div class="col-5">
                                                    <p class="header3">COACHING</p>
                                                    <p class="centered">It doesn’t take a scholarly player to make a coach.  It only takes someone who is familiar with the rules, understands how to keep score, and some minor playing experience.  So, if you have to pay a coach, there is plenty to be found at a nominal fee.</p>
                                                    <img src="~/images/home-$$$$$_img.png" />
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                            <div class="row" style="background-color:#f8f8f8">
                                                <div class="col-12">
                                                    <br />
                                                    <p class="left-edge">
                                                        We are not trying to fight against the tide, but rather go with it, and ride is far as we can go.  Expanding on the sport of pickleball is just hopping in a vehicle to get to our destination.  Our destination is to affect as many people as possible, with the most efficient and inexpensive means possible, in the most positive outcome possible.
                                                    </p>
                                                    <p class="left-edge">
                                                        The positive attributions which sports offers is well-documented, largely impactful, and still way underrated.  And you don’t have to gather a group to go play.  You can show up alone; and jump right in.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <hr class="horizontal-line" />
                                                </div>
                                            </div>
                                            <div class="row" style="background-image:url('/images/home-dotsbg_img.png');background-repeat:no-repeat;height:100px">
                                                <div class="col-12" style="text-align:left"><p class="separator-heading">PROGRAMS</p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-5" style="text-align:left">
                                                    <p style="margin-bottom:0px" class="header3">MUNICIPAL PARTNERSHIPS</p>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">ADOPT-A-PARK</span>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">PICKLEBALL-A-PARK</span>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">COMMUNITOURNAMENT</span>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">MUNICIPAL LIASON</span>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">COURT CHATR<sup style="color:#7e7e7e" ;font-size:.8em">TM</sup> PARTNER</span></p>
                                                    <a href="#" class="tech-square" onhover="toggleThumbnail(101);" data-id="101">
                                                        <img src="~/images/buttons/slider_learnmore_static_btn.png" id="cat-thumb-101" />
                                                        <img src="~/images/buttons/slider_learnmore_hover_btn.png" id="cat-thumb-hover-101" style="display:none" />
                                                    </a>
                                                </div>
                                                <div class="col-7"><img src="~/images/programs_images/home-program_mp_img.png" style="width:90%" /></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <hr class="horizontal-line" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <img src="~/images/programs_images/home-program_yd_img.png" style="width:90%" />
                                                </div>
                                                <div class="col-5" style="text-align:left">
                                                    <p style="margin-bottom:0px" class="header3">YOUTH DEVELOPMENT</p>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">EQUIP THE YOUTH</span>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">YOUTH GROUP LESSONS</span>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">BECOME A YOUTH COACH</span>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">BOYS AND GIRLS CLUB'S CONNECTION</span>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">COURT CHATR<sup style="color:#7e7e7e" ;font-size:.8em">TM</sup> MEMBER</span></p>
                                                    <a href="#" class="tech-square" onhover="toggleThumbnail(102);" data-id="102">
                                                        <img src="~/images/buttons/slider_learnmore_static_btn.png" id="cat-thumb-102" />
                                                        <img src="~/images/buttons/slider_learnmore_hover_btn.png" id="cat-thumb-hover-102" style="display:none" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <hr class="horizontal-line" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-5" style="text-align:left">
                                                    <p style="margin-bottom:0px" class="header3">COMMUNITY HEALTH</p>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">AGELESS OUTREACH PROGRAM</span>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">COMMUNITOURNAMENT</span>
                                                    <br><span class="header3" style="font-size:1em">&gt; </span><span class="header4" style="font-size:1em">COURT CHATR<sup style="color:#7e7e7e" ;font-size:.8em">TM</sup> MEMBER</span></p>
                                                    <a href="#" class="tech-square" onhover="toggleThumbnail(103);" data-id="103">
                                                        <img src="~/images/buttons/slider_learnmore_static_btn.png" id="cat-thumb-103" />
                                                        <img src="~/images/buttons/slider_learnmore_hover_btn.png" id="cat-thumb-hover-103" style="display:none" />
                                                    </a>
                                                </div>
                                                <div class="col-7"><img src="~/images/programs_images/home-program_ch_img.png" style="width:90%" /></div>
                                            </div>
                                            <div class="row" style="background-image:url('/images/breakquotesbg.png');background-repeat:no-repeat;min-height:196px">
                                                <div class="cols-12">
                                                    <p class="white-text">As of 2014, there were 250,000 tennis courts to accommodate 28 million Americans who play<br /> tennis, while reports in February, 2023 show there are 10,320 pickleball courts to accommodate<br /> 8.9 million Americans who play pickleball.</p>
                                                </div>
                                            </div>
                                            <div class="row" style="background-image:url('/images/home-dotsbg_img.png');background-repeat:no-repeat;height:100px">
                                                <div class="col-12" style="text-align:left"><p class="separator-heading">FUNDRAISING</p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 fundraising-block" style="background-image:url('/images/fundraising/nep-fndrs_individuals.png')">
                                                    <p class="centered" style="margin-top:110px;margin-left:15px;margin-right:15px">Everyone, individually, can play a part in donating to the mission.  But that isn’t the only way to help.  In the course of general conversation, spending a moment to make others aware, and encouraging them to be a part as well is a major contributing factor to the growth of the game and the potential benefits for all involved.</p>
                                                </div>
                                                <div class="col-4 fundraising-block" style="background-image:url('/images/fundraising/nep-fndrs_events.png')">
                                                    <p class="centered" style="margin-top:110px;margin-left:15px;margin-right:15px">Event sponsorship is a great way to get your corporate name recognized & associated with a healthy cause.  Pair your local business with hometown events.  Regional, nationwide and international names with philanthropic goals? We will work with you to get the most exposure as possible through events, literature, our website or other partnerships where we may be involved.</p>
                                                </div>
                                                <div class="col-4 fundraising-block" style="background-image:url('/images/fundraising/nep-fndrs_corpspon.png')">
                                                    <p class="centered" style="margin-top:120px;margin-left:15px;margin-right:15px">It’s difficult to think of a substitute for the value placed on corporate sponsorship & endorsement of our mission.  A name can say a lot, and a corporate name is “a lot of people” saying a lot.  As we acknowledge those that stand behind the mission, we make efforts to showcase those companies and individuals who have made such an impact - wherever we can.</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 fundraising-block" style="background-image:url('/images/fundraising/nep-fndrs_merch.png')">
                                                    <p class="centered" style="margin-top:110px;margin-left:15px;margin-right:15px">We encourage those that support our cause to purchase merchandise as well.  Our apparel serves as walking billboards to promote and advance our brand and message.  All proceeds go back into the charity’s mission.  We also welcome ideas and designs from those that would like to be involved.</p>
                                                </div>
                                                <div class="col-4 fundraising-block" style="background-image:url('/images/fundraising/nep-fndrs_found.png')">
                                                    <p class="centered" style="margin-top:110px;margin-left:15px;margin-right:15px">We take great pride in doing good and charitable work, but understand we are just a cog in the wheel.  Working with other established nonprofits & foundations in furthering assistance that we can all offer to offset costs, get the right things to the right people, share the benefits of athletics, and bring awareness to “lack of opportunities” in high-need communities.</p>
                                                </div>
                                                <div class="col-4 fundraising-block" style="background-image:url('/images/fundraising/nep-fndrs_equip.png')">
                                                    <p class="centered" style="margin-top:120px;margin-left:15px;margin-right:15px">Our mission provides a great way to offload excess inventory from manufacturers, in a tax-beneficial way while filling the needs in low-income areas.  This is a great way to knock down the costs of youth programs and schools.  Acknowledgment  of those who give, along with impact reports from the end-user programs will be represented on our website and promotional materials.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                </div>

                            </div>


                        </div>
                        @*<p style="font-size:16pt">
                        We create, manage and implement custom-tailored
                        software solutions to fit your individual business needs,
                        as well as modernizing & automating existing
                        workflows, data management and system monitoring.
                        </p>
                        <ul class="thumbnails">
                        </ul>*@
                    </div>

                </div>

                <!-- End: SERVICE LIST -->
            </div>
            <!-- End: MAIN CONTENT -->
            <!-- Start: MAIN CONTENT -->
            <!-- Start: SERVICE LIST -->
            <!--<div class="container" style="background-color:white">
                <div class="offset-2">
                    <h2>Some of our past clients</h2>
                    <p style="font-size:16pt;margin-bottom:30px">
                        This represents a small sampling of some of the companies for which our staff has produced work, along with some of the
                        technologies and services they've used and provided.
                    </p>
                </div>
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li class="span3" style="border: none; vertical-align: middle;">
                            <div class="thumbnail" style="text-align:center;vertical-align:middle;min-height:100px;border:none">
                                <input type="hidden" id="div-section-value-1" value="<h1>Disney Vacation Club</h1>&lt;p style=&quot;font-size:16pt&quot;&gt;Created an ETL of all timeshare financial data from SAP to a SQL Server database&lt;br&gt;&lt;br&gt;&#xD;&#xA;&lt;img src=&quot;images/MsoftNet-MVC.png&quot; style=&quot;width:8%;margin-right:25px&quot; alt=&quot;Microsoft ASP.Net MVC&quot; title=&quot;Web Development with Microsoft ASP.Net MVC&quot;&gt;&#xD;&#xA;&lt;img src=&quot;images/HTML5-CSS3-JavaScript.png&quot; style=&quot;width:18%;margin-right:25px&quot; alt=&quot;HTML5, JavaScript, and CSS3&quot; title=&quot;Web Development with HTML5, JavaScript, and CSS3&quot;&gt;&#xD;&#xA;&lt;img src=&quot;images/csharp.png&quot; style=&quot;width:5%;margin-right:25px&quot; alt=&quot;Microsoft C#&quot; title=&quot;Web Development with Microsoft ASP.Net using C#&quot;&gt;&lt;/p&gt;" data-id="0" />
                                <a href="#" class="customer-icon" data-id="1" style="border:none;vertical-align:middle">
                                    <img id="customer-thumb-1" src="Images/ClientImages/DisneyVC.png" alt="Disney Vacation Club" title="Disney Vacation Club" style="border: none; width: 150px; vertical-align: middle ">
                                    <img id="customer-thumb-mid-1" src="images/clientimages/disneyvc-teal.png" alt="Disney Vacation Club" title="Disney Vacation Club" style="border: none; width: 150px; vertical-align: middle;display:none ">
                                    <img id="customer-thumb-hover-1" src="Images/ClientImages/DisneyVC-Hover.png" alt="Disney Vacation Club" title="Disney Vacation Club" style="border: none; width: 150px; display: none; vertical-align: middle">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row-fluid div-section-description span6" style="display:none;margin-bottom:30px" id="div-section-id-0"></div>
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li class="span3" style="border: none; vertical-align: middle;">
                            <div class="thumbnail" style="text-align:center;vertical-align:middle;min-height:100px;border:none">
                                <input type="hidden" id="div-section-value-18" value="<h1>NASA</h1>&lt;p style=&quot;font-size:16pt&quot;&gt;&#xD;&#xA;Creation of award-winning MVC-based workflow ticketing application.&#xD;&#xA;&lt;br&gt;&lt;br&gt;&#xD;&#xA;&lt;img src=&quot;images/MsoftNet-MVC.png&quot; style=&quot;width:8%;margin-right:25px&quot; alt=&quot;Microsoft ASP.Net MVC&quot; title=&quot;Web Development with Microsoft ASP.Net MVC&quot;&gt;&#xD;&#xA;&lt;img src=&quot;images/HTML5-CSS3-JavaScript.png&quot; style=&quot;width:18%;margin-right:25px&quot; alt=&quot;HTML5, JavaScript, and CSS3&quot; title=&quot;Web Development with HTML5, JavaScript, and CSS3&quot;&gt;&#xD;&#xA;&lt;img src=&quot;images/Jquery.png&quot; style=&quot;width:5%;margin-right:25px&quot; alt=&quot;JQuery&quot; title=&quot;Web Development client scripting with JQuery&quot;&gt;&#xD;&#xA;&lt;img src=&quot;images/csharp.png&quot; style=&quot;width:5%;margin-right:25px&quot; alt=&quot;Microsoft ASP.Net C#&quot; title=&quot;Web Development with Microsoft ASP.Net using C#&quot;&gt;&#xD;&#xA;&lt;img src=&quot;images/MsoftSqlServer.png&quot; style=&quot;width:8%;&quot; alt=&quot;Microsoft SQL Server&quot; title=&quot;Data Storage and Management with Microsoft SQL Server&quot;&gt;&lt;/p&gt;" data-id="1" />
                                <a href="#" class="customer-icon" data-id="18" style="border:none;vertical-align:middle">
                                    <img id="customer-thumb-18" src="Images/ClientImages/NASA.png" alt="NASA" title="NASA" style="border: none; width: 150px; vertical-align: middle ">
                                    <img id="customer-thumb-mid-18" src="images/clientimages/nasa-teal.png" alt="NASA" title="NASA" style="border: none; width: 150px; vertical-align: middle;display:none ">
                                    <img id="customer-thumb-hover-18" src="Images/ClientImages/NASA-Hover.png" alt="NASA" title="NASA" style="border: none; width: 150px; display: none; vertical-align: middle">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row-fluid div-section-description span6" style="display:none;margin-bottom:30px" id="div-section-id-1"></div>
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li class="span3" style="border: none; vertical-align: middle;">
                            <div class="thumbnail" style="text-align:center;vertical-align:middle;min-height:100px;border:none">
                                <input type="hidden" id="div-section-value-6" value="<h1>Corner Bakery</h1>" data-id="2" />
                                <a href="#" class="customer-icon" data-id="6" style="border:none;vertical-align:middle">
                                    <img id="customer-thumb-6" src="Images/ClientImages/CornerBakery.png" alt="Corner Bakery" title="Corner Bakery" style="border: none; width: 150px; vertical-align: middle ">
                                    <img id="customer-thumb-mid-6" src="images/clientimages/cornerbakery-teal.png" alt="Corner Bakery" title="Corner Bakery" style="border: none; width: 150px; vertical-align: middle;display:none ">
                                    <img id="customer-thumb-hover-6" src="Images/ClientImages/CornerBakery-Hover.png" alt="Corner Bakery" title="Corner Bakery" style="border: none; width: 150px; display: none; vertical-align: middle">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row-fluid div-section-description span6" style="display:none;margin-bottom:30px" id="div-section-id-2"></div>
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li class="span3" style="border: none; vertical-align: middle;">
                            <div class="thumbnail" style="text-align:center;vertical-align:middle;min-height:100px;border:none">
                                <input type="hidden" id="div-section-value-10" value="<h1>Onsite Development Group</h1>" data-id="3" />
                                <a href="#" class="customer-icon" data-id="10" style="border:none;vertical-align:middle">
                                    <img id="customer-thumb-10" src="Images/ClientImages/ODG.png" alt="Onsite Development Group" title="Onsite Development Group" style="border: none; width: 150px; vertical-align: middle ">
                                    <img id="customer-thumb-mid-10" src="images/clientimages/odg-teal.png" alt="Onsite Development Group" title="Onsite Development Group" style="border: none; width: 150px; vertical-align: middle;display:none ">
                                    <img id="customer-thumb-hover-10" src="Images/ClientImages/ODG-hover.png" alt="Onsite Development Group" title="Onsite Development Group" style="border: none; width: 150px; display: none; vertical-align: middle">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row-fluid div-section-description span6" style="display:none;margin-bottom:30px" id="div-section-id-3"></div>
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li class="span3" style="border: none; vertical-align: middle;">
                            <div class="thumbnail" style="text-align:center;vertical-align:middle;min-height:100px;border:none">
                                <input type="hidden" id="div-section-value-14" value="<h1>Christo&#x27;s</h1>" data-id="4" />
                                <a href="#" class="customer-icon" data-id="14" style="border:none;vertical-align:middle">
                                    <img id="customer-thumb-14" src="Images/ClientImages/Christos.png" alt="Christo&#x27;s" title="Christo&#x27;s" style="border: none; width: 150px; vertical-align: middle ">
                                    <img id="customer-thumb-mid-14" src="images/clientimages/christos-teal.png" alt="Christo&#x27;s" title="Christo&#x27;s" style="border: none; width: 150px; vertical-align: middle;display:none ">
                                    <img id="customer-thumb-hover-14" src="Images/ClientImages/Christos-hover.png" alt="Christo&#x27;s" title="Christo&#x27;s" style="border: none; width: 150px; display: none; vertical-align: middle">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row-fluid div-section-description span6" style="display:none;margin-bottom:30px" id="div-section-id-4">
                </div>
                <div class="row-fluid" style="margin-top:0px;background-color:white">
                    <span class="span12">
                        <a href="Contact/" data-id="55" class="tech-square">
                            <img src="/Images/GetEstimateBox-Btn.png" id="cat-thumb-55" />
                            <img src="/Images/GetEstimateBox-BtnHover.png" id="cat-thumb-hover-55" style="display:none" />
                        </a>
                    </span>
                </div>
            </div>-->
            <!-- End: SERVICE LIST -->
            <!-- End: MAIN CONTENT -->
            <!-- End Category List-->
        </main>
    </div>

    <!-- LAYER SECTION -->
    <div class="layer-container" id="donation-layer">
        <div class="layer">
            <img src="~/images/1x1.png" style="width:50px;height:50px;margin-left:530px;margin-top:20px;" usemap="#myMap" />
            <map name="myMap">
                <area shape="rect" coords="0,0,50,50" href="javascript:$('#donation-layer').hide(1000);" alt="Close">
            </map>
            <a href="https://www.zeffy.com/en-US/donation-form/2d9d06ed-abe7-48d3-a859-1f65e3db7290" target="_blank"
               class="tech-square" onhover="toggleThumbnail(104);" data-id="104">
                <img src="~/images/buttons/slider_donate_static_btn.png" id="cat-thumb-104" style="margin-top:225px;margin-left:250px" />
                <img src="~/images/buttons/slider_donate_hover_btn.png" id="cat-thumb-hover-104" style="display:none;margin-top:225px;margin-left:250px" />
            </a>
        </div>
        <!-- Rest of your page content here -->
    </div>
    <!-- END LAYER SECTION -->
    <!-- Start: FOOTER -->
    <footer>
        @*<div class="container">
        <div class="row">
        <div class="span2"></div>
        <div class="span2" style="text-align:center">
        <a href="http://ursa-partner.com"><img src="/Images/URSA PartnershipsLogo.png" alt="Ursa Partnerships" title"Ursa Partnerships" style="width:150px" /></a>
        </div>
        <div class="span2" style="text-align:center">
        <a href="http://ursa-dev.com"><img src="/Images/URSA-DEV Logo.png" alt="Ursa Dev, Inc" title="Ursa Dev, Inc" style="width:400px;margin-top:40px" /></a>
        </div>

        <div class="span2" style="text-align:center">
        <a href="http://dandbeck.com"><img src="/Images/DandBeckFooterLogo.png" alt="D and Beck" title="D and Beck" style="width:100px;margin-top:30px" /></a>
        </div>

        <div class="span2" style="text-align:center">
        <a href="http://theinkinc.co"><img src="/Images/TheInkIncFooterLogo.png" alt="The Ink Inc" title="The Ink Inc" accesskeystyle="width:100px;margin-top:20px" /></a>
        </div>
        <div class="span1"></div>
        </div>
        <!--<div class="row">
        <div class="span4">

        <h4><i class="icon-cogs icon-white"></i> Services</h4>
        <nav>
        <ul class="quick-links">
        <li class="nav-footer-header" style="color:#F15425" data-footer-cat-id="1">Web Development</li>
        <li class="nav-footer-li-hidden footer-expand-id-1" style="display: none"><a href="/Service/Detail/?id=18" title="Microsoft .Net MVC Core 5.0 web development" style="color: #17C5CC">Microsoft MVC Core</a></li>
        <li class="nav-footer-li-hidden footer-expand-id-1" style="display: none"><a href="/Service/Detail/?id=19" title="Easily integrate your data and products with partners and customers" style="color: #17C5CC">Rest API (Microsoft/JavaScript)</a></li>
        <li class="nav-footer-li-hidden footer-expand-id-1" style="display: none"><a href="/Service/Detail/?id=20" title="Open source web applications based on JavaScript architecture" style="color: #17C5CC">ME(R|A|V)N Open Source Web Stack  (coming soon)</a></li>
        <li class="nav-footer-li-hidden footer-expand-id-1" style="display: none"><a href="/Service/Detail/?id=21" title="Powerful web applications built with open source technologies" style="color: #17C5CC">LAMP Open Source Web Stack</a></li>
        <li class="divider"></li>
        <li><a href="/Service" style="color: #17C5CC">All services</a></li>
        </ul>
        </nav>
        </div>

        <div class="span3">
        <h4>Get in touch</h4>
        <div class="social-icons-row">
        <a href="mailto:support@ursa-dev.com"><i class="icon-envelope"></i></a> support@ursa-dev.com
        </div>
        <div class="social-icons-row">
        <i class="icon-phone icon-large phone-number"></i> (888) 701-2104
        </div>
        </div>
        </div>-->
        </div>*@
        <hr class="footer-divider">
        @*<div class="container">
        <p style="color: #17C5CC">
        &copy; 2021-2022 Ursa Dev, Inc
        </p>
        <div class="obscura">
        <h1 id="obscura-h1">Professional Web and Mobile Development, and Data Management Analytics</h1>
        URSA-dev is a technology solutions company that has nearly 100 years of experience creating enterprise-level applications.
        Our skills include full stack web development, print graphics and graphic design, mobile application development, data storage
        and data management, data engineering and data analytics, UAV/UAS drone photography, videos, and inspection, for both real estate
        construction, SEO best practices, and VOIP telephony. We boast many years of experience with web application solutions using
        Microsoft.Net/ASP.Net MVC Core, MERN|MEAN|MEVN (MongoDB or MySql, ExpressJS, React, Angular, or Vue, and NodeJs), and LAMP (linux,
        Apache, MySql or MongoDB, and Perl, PHP, or Python). Our database technologies include Microsoft SQL Server, MySql, MongoDB, and
        Oracle, among others. We develop native mobile applications using Xamarin for Android, iPhone, and Windows devices. Our experience
        ranges from small companies to some of the most recognizable brands in the world, such as NASA and Disney. We are confident that we
        have the technical knowhow to help you complete your digital solution needs.
        <br />
        <a href="/Category/index">All Categories</a><br />
        <a href="/Service/Index">All Services</a><br />

        </div>
        </div>*@
    </footer>
    <!-- End: FOOTER -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="/js/boot-business.js"></script>*@
    <script>
        var obscura = '';

        $(document).ready(function () {
            $("#service-nav").unbind();
            $(".nav-header").click(function (evt) {
                var open = $(".open");
                var id = $(this).data("cat-id");
                $(".nav-li-hidden").hide(500);
                $(".expand-id-" + id).show(500);
                return false;
            });

            $(".nav-footer-header").click(function (evt) {
                var id = $(this).data("footer-cat-id");
                $(".nav-footer-li-hidden").hide(500);
                $(".footer-expand-id-" + id).show(500);
                return false;
            });

            $(".tech-square").each(function (index, value) {
                $(this).hover(function () {
                    toggleThumbnail(this.dataset.id);
                });

                $(this).mouseleave(function () {
                    resetThumbs();
                })
            });

            $(".customer-icon").each(function (index, value) {
                $(this).hover(function () {
                    toggleCustomerThumbnail(this.dataset.id);
                });

                $(this).mouseleave(function () {
                    resetCustomerThumbs();
                })
            });

            if (obscura_h1 != '') {
                //debugger;
                $('#obscura-h1').text(obscura_h1);
            }

            obscura = setTimeout(HideObscura, 10000);
        });

        function HideObscura() {
            //alert('obscura');
            $(".obscura").hide();
        }

        var currentId = 0;

        function toggleThumbnail(id) {
            resetThumbs();
            currentId = id;
            var img = $("#cat-thumb-" + id);
            var imghover = $("#cat-thumb-hover-" + id);
            img.hide();
            imghover.show();
        }

        function resetThumbs() {
            $("#cat-thumb-" + currentId).show();
            $("#cat-thumb-hover-" + currentId).hide();
        }

        // customer toggle section
        var currentCustomerId = 0;
        var divSectionReset = true;

        function toggleCustomerThumbnail(id) {

            //    debugger;
            if (divSectionReset) {
                //resetCustomerThumbs();
                currentCustomerId = id;
                var img = $("#customer-thumb-" + id);
                var mid = $("#customer-thumb-mid-" + id);
                var imghover = $("#customer-thumb-hover-" + id);
                img.hide();
                //mid.show();
                //mid.delay(1000).hide();
                imghover.show();
                //      debugger;

                var divSectionValue = $('#div-section-value-' + id);
                var divSectionId = divSectionValue.data("id");
                var divSection = $('#div-section-id-' + divSectionId);
                divSection
                    .html(divSectionValue.val())
                    .show(500);
                divSectionReset = false;
            }
        }

        function resetCustomerThumbs() {
            if (!divSectionReset) {
                $("#customer-thumb-" + currentCustomerId).show();
                $("#customer-thumb-hover-" + currentCustomerId).hide();
                //$(".div-section-description").hide(1000);
                var id = currentCustomerId;
                var divSectionValue = $('#div-section-value-' + id);
                var divSectionId = divSectionValue.data("id");
                var divSection = $('#div-section-id-' + divSectionId);


                divSection
                    .html('')
                    .hide(500);
                divSectionReset = true;
            }
        }

    </script>
</body>
</html>