

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
     <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/gsm/content/gsmservice/images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,700,700italic'>

    <!-- CSS -->
    <link rel='stylesheet' href='/gsm/css/global.css'>
    <link rel='stylesheet' href='/gsm/content/gsmservice/css/structure.css'>
    <link rel='stylesheet' href='/gsm/content/gsmservice/css/gsmservice.css'>
    <link rel='stylesheet' href='/gsm/content/gsmservice/css/custom.css'>

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="/gsm/plugins/rs-plugin-5.3.1/css/settings.css">


    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>Never Enough Pickleball - NEP</title>
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NEP.styles.css" asp-append-version="true" />*@
</head>
<!--<body>
     Start: HEADER -->
    @* <header>
        <!-- Start: Navigation wrapper -->
        <div class="container">
        <div class="row">
        <div class="col">Column 1</div>
        <div class="col" rowspan="2">Column 2 (spanning 2 rows)</div>
        <div class="col">Column 3</div>
        </div>
        <div class="row">
        <div class="col">Column 4</div>
        </div>
        </div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="/" class="brand brand-bootbus">
                        <img src="/Images/NAV_Logo_IMG.png" style="margin-left:450px" />
    </a>*@
                    <!-- Below button used for responsive navigation -->
                    @*<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>*@
                    <!-- Start: Primary navigation -->
                    @*<div class="nav-collapse collapse">
                    <ul class="nav pull-right" style="margin-top:20px">
                    <li class="dropdown">
                    <a href="#" id="service-nav-item" class="dropdown-toggle" data-toggle="dropdown">Our Services<b class="caret"></b></a>

                    <ul class="dropdown-menu" id="service-nav" style="min-width:375px">

                    <li class="nav-header" data-cat-id="1">Web Development</li>
                    <li class="nav-li-hidden expand-id-1" style="display: none"><a href="/Service/Detail/?id=18" title="Microsoft .Net MVC Core 5.0 web development">Microsoft MVC Core</a></li>
                    <li class="nav-li-hidden expand-id-1" style="display: none"><a href="/Service/Detail/?id=19" title="Easily integrate your data and products with partners and customers">Rest API (Microsoft/JavaScript)</a></li>
                    <li class="nav-li-hidden expand-id-1" style="display: none"><a href="/Service/Detail/?id=20" title="Open source web applications based on JavaScript architecture">ME(R|A|V)N Open Source Web Stack  (coming soon)</a></li>
                    <li class="nav-li-hidden expand-id-1" style="display: none"><a href="/Service/Detail/?id=21" title="Powerful web applications built with open source technologies">LAMP Open Source Web Stack</a></li>
                    <li class="divider"></li>
                    <li class="nav-header" data-cat-id="2">Data Engineering and Analysis</li>
                    <li class="nav-li-hidden expand-id-2" style="display: none"><a href="/Service/Detail/?id=22" title="ETL/ELT with Python and Pandas">ETL/ELT Pipelines with Python</a></li>
                    <li class="nav-li-hidden expand-id-2" style="display: none"><a href="/Service/Detail/?id=23" title="Transform your data into information, knowledge, and, finally, wisdom">Bespoke BI Dashboards and Reporting</a></li>
                    <li class="nav-li-hidden expand-id-2" style="display: none"><a href="/Service/Detail/?id=24" title="Data Management and Warehousing">Data Storage and Management</a></li>
                    <li class="divider"></li>
                    <li class="nav-header" data-cat-id="3">Robotic Process Automation</li>
                    <li class="nav-li-hidden expand-id-3" style="display: none"><a href="/Service/Detail/?id=25" title="Robotic Process Automation with UIPath">UIPath RPA</a></li>
                    <li class="divider"></li>
                    <li class="nav-header" data-cat-id="4">Graphic Design and Branding</li>
                    <li class="nav-li-hidden expand-id-4" style="display: none"><a href="/Service/Detail/?id=26" title="">Graphic Design</a></li>
                    <li class="nav-li-hidden expand-id-4" style="display: none"><a href="/Service/Detail/?id=27" title="">Brand Management</a></li>
                    <li class="nav-li-hidden expand-id-4" style="display: none"><a href="/Service/Detail/?id=28" title="">Print Graphics</a></li>
                    <li class="nav-li-hidden expand-id-4" style="display: none"><a href="/Service/Detail/?id=35" title="SEO Management to get your site noticed">SEO</a></li>
                    <li class="divider"></li>
                    <li class="nav-header" data-cat-id="5">VOIP Telephony</li>
                    <li class="nav-li-hidden expand-id-5" style="display: none"><a href="/Service/Detail/?id=29" title="An open source telephony system trusted for over 20 years.">VOIP Telephony with Asterisk and FreePBX</a></li>
                    <li class="divider"></li>
                    <li class="nav-header" data-cat-id="6">UAV (Drone) Services</li>
                    <li class="nav-li-hidden expand-id-6" style="display: none"><a href="/Service/Detail/?id=30" title="Add drama to your real estate listings with UAV videography">Real Estate Photography</a></li>
                    <li class="nav-li-hidden expand-id-6" style="display: none"><a href="/Service/Detail/?id=31" title="We&#x27;re working on it...">Inspection</a></li>
                    <li class="nav-li-hidden expand-id-6" style="display: none"><a href="/Service/Detail/?id=32" title="We&#x27;re working on it...">Surveying and Mapping (coming soon)</a></li>
                    <li class="nav-li-hidden expand-id-6" style="display: none"><a href="/Service/Detail/?id=33" title="We&#x27;re working on it...">Photogrammetry  (coming soon)</a></li>
                    <li class="divider"></li>
                    <li class="nav-header" data-cat-id="7">Mobile Application Development</li>
                    <li class="nav-li-hidden expand-id-7" style="display: none"><a href="/Service/Detail/?id=34" title="Native mobile apps for IOS, Android, and Windows devices.">Android and IOS Apps with Xamarin (coming soon)</a></li>
                    <li><a href="/Service">All services</a></li>
                    </ul>
                    </li>
                    <li><a href="/Contact">Contact us</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Navigation wrapper -->
    </header>*@
    <!-- End: HEADER -->

   @* <div class="container">
        <main role="main" class="pb-3">*@
            @RenderBody()
 @*       </main>
    </div>*@
@*
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - NEP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
   @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)

</html>
